# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.wrangler

.claude

supabase/migrations/
supabase/seed.sql
supabase/supabase/.temp/cli-latest
supabase/supabase/migrations/1756549301859_roles.sql
supabase/supabase/migrations/1756549302859_level_types.sql
supabase/supabase/migrations/1756549303859_codes.sql
supabase/supabase/migrations/1756549304859_subjects.sql
supabase/supabase/migrations/1756549305859_user_infos.sql
supabase/supabase/migrations/1756549306859_user_roles.sql
supabase/supabase/migrations/1756549307859_user_credits.sql
supabase/supabase/migrations/1756549308859_groups.sql
supabase/supabase/migrations/1756549309859_group_members.sql
supabase/supabase/migrations/1756549310859_syllabus.sql
supabase/supabase/migrations/1756549311859_questions.sql
supabase/supabase/migrations/1756549312859_question_options.sql
supabase/supabase/migrations/1756549313859_question_correct_answers.sql
supabase/supabase/migrations/1756549314859_user_question_attempts.sql
supabase/supabase/migrations/1756549315859_user_question_answers.sql
supabase/supabase/migrations/1756549316859_products.sql
supabase/supabase/migrations/1756549317859_orders.sql
supabase/supabase/migrations/1756549318859_order_items.sql
supabase/supabase/migrations/1756549319859_wishlists.sql
supabase/supabase/migrations/1756549320859_user_tasks.sql
supabase/supabase/migrations/1756549321859_credit_transactions.sql
supabase/supabase/migrations/1756549322859_characters.sql
supabase/supabase/migrations/1756549323859_notes.sql
supabase/supabase/migrations/1756549324859_token_history.sql
supabase/supabase/migrations/1756549325859_stripe_webhook_events.sql
supabase/supabase/migrations/1756549326859_functions.sql
supabase/supabase/migrations/1756549327859_chat_thread.sql
supabase/supabase/migrations/1756549328859_chat_message.sql
supabase/supabase/migrations/1756549329859_chat_feedback.sql
supabase/supabase/.temp/cli-latest
supabase/supabase/.temp/cli-latest
pnpm-lock.yaml
